.titleAboutUs {
    font-family: Jacques Francois Shadow;
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
}

.containerAboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAboutUs p {
    font-size: 25px;
}

.containerGroup img {
    width: 200px;
    border-radius: 50%;
}

.containerGroup {
    display: flex;
    flex-direction: row;
    gap: 20rem;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.memberGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.memberGroup a{
    text-decoration: none;
    color: var(--lightBlack);
}
