@import url(index.css);
@import url(footer.css);
@import url(header.css);
@import url(forms.css);
@import url(tables.css);
@import url(show.css);

:root {
    --lightBlue: #E9EFF2;
    --green: #025940;
    --ligthGreen: #75BF9C;
    --darkRed: #590303;
    --red: #D92B2B;
    --yellow: #F8C34D;
    --pink: #FFE4CC;
    --lightBlack: #333333;


}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: arial;
    font-weight: bold;
    background-color: #f8f9fa;
}

main{
    flex: 1;
}