.btn-create {
    background-color: var(--ligthGreen) !important;
    color: var(--lightBlack) !important;
}

.btn-reset {
    background-color: var(--lightBlack) !important;
    color: var(--pink) !important;
}

.containerForm {
    background-color: var(--ligthGreen);
    padding: 2rem;
}

.formCreateAndEdit {
    background-color: var(--pink);
    border-radius: 0.5rem;
    padding: 1rem;
}

h2 {
    text-align: center;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    margin: 50px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}