header {
    background: var(--green);
    padding: 1rem;
    text-align: center;
    color: var(--pink);
    font-size: 2rem;
    display: flex;
    justify-content: space-around;

}
.headerButtons{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

