@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

header{
    display: flex;
    justify-content: space-around;
    padding: 0px 30px 0px 30px;
    color: var(--pink);
    background-color: var(--green);
    z-index: 1;
}

header.is-sticky{ 
    position: fixed;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5);
    background-color: var(--red);
    width: 100%;
    animation: slideDown 0.35s ease-out;   
}

header.is-sticky h1{
    font-size: 30px;
    color: var(--pink);
}
header.is-sticky a{
    color: var(--pink);
}
header.is-sticky a:hover{
    background-color: var(--red);
}

h1 {
    font-size: 3vh;
}

.navbar ul{
    margin-top: 14px;
    list-style-type: none;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: ease-in-out 0.2s;
    color: var(--pink);
}
.navbar a:hover{
    background-color: var(--red);
    color: var(--pink);
}
.navbar li{
    float: left;
}
