
.hero {
    background: url('./img/banner.png') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: var(--pink);
    padding: 10rem;
    text-shadow: 2px 2px 4px #000;
}
.hero h2{
    width: 30rem;
    font-size: 5rem;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-radius: 20%;
}
.containerDataChart{
    background-color: var(--pink);
    position: relative;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.statistics{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: var(--green);
    flex-wrap: wrap;
    gap: 3rem;

}
.iconData{
    top: -30;
    transform:translateY(-40%);
    width: 6rem;
}
.products{
    background-color: var(--pink);
    padding: 2rem;
    text-align: center;
}
.productsGrid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.productTower img{
    width: 15rem;
}

#chart {
    width: 20rem;
    
  }

.leyendChart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1rem; 
}
.containerLegendChart{
    display: flex;
    flex-wrap: wrap;
}

.left-list {
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    justify-items: start;
}

.right-list {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    justify-items: start;
}

.right-list li, .left-list li {
    padding: 0.5rem; 
    font-size: 0.9rem; 
    text-align: center; 
    min-width: 2rem; 
}