
.hero {
    background: url('./img/banner.png') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: var(--pink);
    padding: 10rem;
    text-shadow: 2px 2px 4px #000;
}
.hero h2{
    width: 30rem;
    font-size: 5rem;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-radius: 20%;
}
.containerData{
    background-color: var(--pink);
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 10%;
    
}
.statistics{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: var(--green);
    flex-wrap: wrap;
    gap: 2rem;

}

.iconData{
    position: absolute;
    top: -30;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);

    width: 6rem;

}
.products{
    background-color: var(--pink);
    padding: 2rem;
    text-align: center;
}
.productsGrid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.productTower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.productTower img{
    width: 15rem;
}

.productTower .topToy {
    width: 13rem;
    animation: up-down 3s linear infinite;
}

@keyframes up-down {
    0% { transform: translateY(0);}
    25% { transform: translateY(1rem); }
    75% { transform: translateY(-1rem); }
    100% { transform: translateY(0); }
}
