
.hero {
    background: url('./img/banner.png') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: var(--pink);
    padding: 10rem;
    text-shadow: 2px 2px 4px #000;
}
.hero h2{
    width: 30rem;
    font-size: 5rem;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-radius: 20%;
}

