.containerShow {
    background-color: var(--ligthGreen);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.backBtnStyle {
    display: flex;
    width: 80px;
    height: 50px;
    text-decoration: none;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--lightBlack);
    transition: transform 0.4s ease;
    margin-top: 2rem;
    color: var(--pink);
}

.backBtnStyle:hover {
    transform: scale(1.05);
}

.newFilterBtnStyle {
    display: flex;
    width: 80px;
    height: 50px;
    text-decoration: none;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: var(--pink);
    transition: transform 0.4s ease;
}

.newFilterBtnStyle:hover {
    transform: scale(1.05);
}

.styleTableShow {
    padding: 5rem;
    border-spacing: 10px;
}

.styleTableShow td {
    border: 1.5px solid var(--lightBlack);
    border-radius: 0.5rem;
    width: 140px;
    text-align: center;
    border-width: 2px;
}

.styleTableShowToys {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-spacing: 10px;
}

.styleTableShowToys td {
    border: 1.5px solid var(--lightBlack);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
    border-width: 2px;
}

.toysAge {
    background-color: var(--yellow);
}

.containerToys {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    border-radius: 0.5rem;
    padding: 3rem;
    width: 70%;
}

.nameTable {
    font-size: 30px;
}

td.no-border {
    border: none;
}

td.no-border img {
    transform: scale(1.5);
}

.nameSurnameTable {
    font-size: 30px;
    text-align: center;
}

.active {
    background-color: var(--ligthGreen);
}

.inactive {
    background-color: var(--red);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 70%;
}

.toyImg{
    max-width: 15rem;
}
